@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap");
* {
  box-sizing: border-box;
  font-family: "Work Sans";
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  color: #fff;
}

/* MENU */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: relative;
  font-family: "Righteous";
  font-size: 25px;
  color: #1cb698;
  text-decoration: none;
  font-weight: 600;
}

.navbar a {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover {
  color: #1cb698;
}

.nav-responsive {
  background-color: #1cb698;
  color: #3b7a6e;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

/* H O M E*/

.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: linear-gradient(
    to top,
    rgba(30, 35, 38, 0.8),
    rgba(30, 35, 38, 1)
  );
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}

.home-contenido {
  max-width: 600px;
}

.home-contenido h3 {
  font-size: 32px;
  font-weight: 700;
}

.home-contenido h3:nth-of-type(2) {
  margin-bottom: 30px;
}

.home-contenido h3 span {
  color: #1cb698;
}

.home-contenido h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
}

.home-contenido p {
  font-size: 20px;
}

.home-redes a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #1cb698;
  border-radius: 50%;
  font-size: 20px;
  color: #1cb698;
  text-decoration: none;
  margin: 30px 15px 30px 0;
}

.home-redes a:hover {
  background: #1cb698;
  color: #081b29;
  box-shadow: 0 0 20px #1cb698;
}

.home contenido-banner {
  padding: 20px;
  background-color: #1e2326;
  max-width: 350px;
  margin: auto;
  text-align: center;
  border-radius: 40px;
}

.home contenedor-img {
  margin-top: 40px;
  border: 10px solid #1cb698;
  display: block;
  width: 80%;
  margin: auto;
  border-radius: 100%;
}

.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: #1cb698;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
}

.btn-box:hover {
  box-shadow: 0 0 5px #1cb698, 0 0 25px #1cb698, 0 0 50px #1cb698;
}

.contenedor-header header ul {
  display: flex;
  list-style: none;
}
.contenedor-header header nav ul li a {
  text-align: none;
  color: #fff;
  margin: 0 15px;
  padding: 3px;
  transition: 0.5s;
  text-decoration: none;
}
.contenedor-header header nav ul li a:hover {
  color: #1cb698;
}

/* S E C C I O N E S */

.contenido-secciones {
  display: flex;
  justify-content: space-between;
}

/* I N I C I O */

.inicio {
  background: linear-gradient(
      to top,
      rgba(30, 35, 38, 0.8),
      rgba(30, 35, 38, 1)
    ),
    url(img/fondo.jpg);
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  width: 35%;
}

.inicio .contenido-banner {
  padding: 20px;
  background-color: #1e2326;
  max-width: 350px;
  margin: auto;
  text-align: center;
  border-radius: 40px;
}

.inicio .contenido-banner img {
  margin-top: 40px;
  border: 10px solid #1cb698;
  display: block;
  width: 80%;
  margin: auto;
  border-radius: 100%;
}

.inicio .contenido-banner h1 {
  margin-top: 40px;
  font-size: 42px;
  font-family: "Righteous";
}

.inicio .contenido-banner h2 {
  font-size: 15px;
  font-weight: normal;
}

.inicio .contenido-banner .redes a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 40px 5px;
  font-size: 20px;
  transition: 0.3s;
}

.inicio .contenido-banner .redes a:hover {
  background-color: #1cb698;
}

/* S O B R E M I */
.sobremi {
  background: linear-gradient(
    to top,
    rgba(30, 35, 38, 0.8),
    rgba(30, 35, 38, 1)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 50px 20px;
  width: 65%;
}

.sobremi .contenido-seccion {
  margin: auto;
  padding: 0 20%;
}

.sobremi h2 {
  font-size: 48px;
  font-family: "Righteous";
  text-align: auto;
  padding: 20px 0;
}

.sobremi .contenido-seccion p {
  font: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}

.sobremi .contenido-seccion p span {
  color: #1cb698;
  font-weight: bold;
}

.secciones-container {
  display: flex;
  justify-content: space-between;
  max-width: auto;
  width: 100%;
  /* padding: 0 10%; */
  margin: auto;
}
