@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap");
* {
  box-sizing: border-box;
  font-family: "Work Sans";
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  background: rgba(2, 0, 36, 1);
}

/* MENU */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: rgba(2, 0, 36, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: relative;
  font-family: "Righteous";
  font-size: 25px;
  color: #ff79e2;
  text-decoration: none;
  font-weight: 600;
}

.navbar a {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover {
  color: #ff79e2;
}

.nav-responsive {
  background-color: #ff79e2;
  color: #3b7a6e;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

/* H O M E*/

.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}

.home-contenido {
  max-width: 600px;
}

.home-contenido h3 {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}

.home-contenido h3:nth-of-type(2) {
  margin-bottom: 30px;
  color: #fff;
}

.home-contenido h3 span {
  color: #ff79e2;
}

.home-contenido h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  color: #fff;
}

.home-contenido p {
  font-size: 20px;
  color: #fff;
}

.home-redes a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #ff79e2;
  border-radius: 50%;
  font-size: 20px;
  color: #ff79e2;
  text-decoration: none;
  margin: 30px 15px 30px 0;
}

.home-redes a:hover {
  background: #ff79e2;
  color: #081b29;
  box-shadow: 0 0 20px #ff79e2;
}

.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: #ff79e2;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
}

.btn-box:hover {
  box-shadow: 0 0 5px #ff79e2, 0 0 25px #ff79e2, 0 0 50px #ff79e2;
}

.contenido-banner {
  padding: 45px;
  background-color: #1e232668;
  max-width: 500px;
  margin: auto;
  text-align: center;
  border-radius: 40px;
}

.contenedor-img {
  margin-top: 50spx;
  border: 10px solid #ff79e2;
  display: block;
  width: 100%;
  margin: auto;
  border-radius: 100%;
}

/* S K I L L S */

/*section {
  display: flex;
  flex-wrap: wrap;
}*/

.sub-title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}

.container1 {
  width: 600px;
  height: auto;
  /* padding: 75px 90px; */
  margin: 75px auto;
}

.heading1 {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  margin-bottom: 50px;
  color: #fff;
}

.bar {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 23px;
}

.Technical-bars .bar {
  margin-top: 40px 0;
}

.Technical-bars .bar:first-child {
  margin-bottom: 0;
}

.Technical-bars .bar:last-child {
  margin-bottom: 0;
}

.Technical-bars .bar .info {
  margin-bottom: 5px;
}

.Technical-bars .bar .info span {
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
  color: #fff;
}

.Technical-bars .bar .progress-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: #000000;
  animation: animate 1s cubic-bezier(1, 0, 0, 5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
  animation: progressAnimation 1s forwards;
}

.Technical-bars .bar .progress-line span {
  height: 100%;
  background-color: #ff79e2;
  position: absolute;
  border-radius: 10px;
  animation: animation 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}

@keyframes progressAnimation {
  to {
    transform: scaleX(1);
  }
}

.progress-line.JavaScript span {
  width: 60%;
}
.progress-line.React span {
  width: 55%;
}
.progress-line.NodeJS span {
  width: 50%;
}
.progress-line.Angular span {
  width: 50%;
}
.progress-line.Python span {
  width: 62%;
}
.progress-line.Git span {
  width: 73%;
}
.progress-line.Scrum span {
  width: 76%;
}

progress-line span::after {
  position: absolute;
  padding: 1px 8px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  top: -28px;
  right: -20px;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}

.progress-line.JavaScript span::after {
  content: "60%";
}
.progress-line.React span::after {
  content: "55%";
}
.progress-line.NodeJS span::after {
  content: "50%";
}
.progress-line.Angular span::after {
  content: "50%";
}
.progress-line.Python span::after {
  content: "63%";
}
.progress-line.Git span::after {
  content: "73%";
}
.progress-line.Scrum span::after {
  content: "76%";
}

.progress-line span::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -20px;
  right: 0;
  padding: 1px 8px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.5s;
  animation: showText 0.5s 1.5s linear forwards;
}

.progress-line:hover span::before {
  opacity: 1;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

/* S E C C I O N E X P E R I E N C I A */

.heading {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}

.curriculum {
  padding: 100px 15px;
}

.curriculum h2 {
  margin-bottom: 5rem;
  color: #fff;
}

.timeline-items {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  color: white;
}

.timeline-items::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #ff79e2;
  left: calc(50% - 1px);
}

.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}

.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}

.timeline-dot {
  height: 21px;
  width: 21px;
  background-color: #ff79e2;
  box-shadow: 0 0 5px #ff79e2, 0 0 25px #ff79e2, 0 0 50px #ff79e2;
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}

.timeline-date {
  font-size: 20px;
  font-weight: 800;
  color: white;
  margin: 6px 0 15px;
}

.timeline-content {
  background-color: #2e184a;
  border: 3px solid #ff79e2;
  padding: 30px 50px;
  border-radius: 4rem;
  box-shadow: 0 0 10px #ff79e2, 0 0 25px #ff79e2;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.timeline-content:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #ff79e2, 0 0 25px #ff79e2;
}

.timeline-content h3 {
  font-size: 20px;
  color: white;
  margin: 0 0 10px;
  font-weight: 500;
}

.timeline-content p {
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff79e2, 0 0 25px #ff79e2;
}

::-webkit-scrollbar-track {
  background-color: #ff79e2, 0 0 25px #ff79e2;
  width: 50px;
}

/* P O R T A F O L I O */

.main-text {
  padding-top: 130px;
}

.main-text h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 80px;
}

.portafolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(359px, auto));
}

.row {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.row img {
  width: 100%;
  border-radius: 8px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  margin-top: 80px;
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #ff79e2);
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s;
}

.layer h5 {
  color: #000;
  font-size: 1rem;
  line-height: 1.8;
}

.layer p {
  color: #000;
  font-size: 1rem;
  line-height: 1.8;
}

.layer i {
  color: #ff004f;
  margin-top: 20px;
  font-size: 20px;
  background: #fff;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.row:hover img {
  transform: scale(1.1);
}

.row:hover .layer {
  height: 100%;
}
